/Tulip/bin/Debug/CommsLib.dll
/Tulip/bin/Debug/CommsLib.pdb
/Tulip/bin/Debug/DNP3CLRAdapter.dll
/Tulip/bin/Debug/DNP3CLRAdapter.pdb
/Tulip/bin/Debug/DNP3CLRInterface.dll
/Tulip/bin/Debug/DNP3CLRInterface.pdb
/Tulip/bin/Debug/DNP3CLRInterface.xml
/Tulip/bin/Debug/EntityFramework.Extended.dll
/Tulip/bin/Debug/EntityFramework.Extended.xml
/Tulip/bin/Debug/EntityFramework.SqlServer.dll
/Tulip/bin/Debug/EntityFramework.SqlServer.xml
/Tulip/bin/Debug/EntityFramework.SqlServerCompact.dll
/Tulip/bin/Debug/EntityFramework.SqlServerCompact.xml
/Tulip/bin/Debug/EntityFramework.dll
/Tulip/bin/Debug/EntityFramework.xml
/Tulip/bin/Debug/GUtil.dll
/Tulip/bin/Debug/GUtil.pdb
/Tulip/bin/Debug/PacketDotNet.dll
/Tulip/bin/Debug/PacketDotNet.xml
/Tulip/bin/Debug/SharpPcap.dll
/Tulip/bin/Debug/SharpPcap.xml
/Tulip/bin/Debug/System.Data.SQLite.dll
/Tulip/bin/Debug/System.Data.SQLite.pdb
/Tulip/bin/Debug/System.Data.SQLite.xml
/Tulip/bin/Debug/System.Data.SqlServerCe.dll
/Tulip/bin/Debug/Tulip.exe
/Tulip/bin/Debug/Tulip.pdb
/Tulip/bin/Debug/Tulip.vshost.exe
/Tulip/bin/Debug/Tulip.vshost.exe.manifest
/Tulip/bin/Debug/XPTable.dll
/Tulip/bin/Debug/XPTable.pdb
/Tulip/bin/Debug/XPTable.xml
/Tulip/bin/Debug/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
/Tulip/bin/Debug/amd64/Microsoft.VC90.CRT/README_ENU.txt
/Tulip/bin/Debug/amd64/Microsoft.VC90.CRT/msvcr90.dll
/Tulip/bin/Debug/amd64/sqlceca40.dll
/Tulip/bin/Debug/amd64/sqlcecompact40.dll
/Tulip/bin/Debug/amd64/sqlceer40EN.dll
/Tulip/bin/Debug/amd64/sqlceme40.dll
/Tulip/bin/Debug/amd64/sqlceqp40.dll
/Tulip/bin/Debug/amd64/sqlcese40.dll
/Tulip/bin/Debug/protobuf-net.dll
/Tulip/bin/Debug/protobuf-net.pdb
/Tulip/bin/Debug/protobuf-net.xml
/Tulip/bin/Debug/x86/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
/Tulip/bin/Debug/x86/Microsoft.VC90.CRT/README_ENU.txt
/Tulip/bin/Debug/x86/Microsoft.VC90.CRT/msvcr90.dll
/Tulip/bin/Debug/x86/sqlceca40.dll
/Tulip/bin/Debug/x86/sqlcecompact40.dll
/Tulip/bin/Debug/x86/sqlceer40EN.dll
/Tulip/bin/Debug/x86/sqlceme40.dll
/Tulip/bin/Debug/x86/sqlceqp40.dll
/Tulip/bin/Debug/x86/sqlcese40.dll
/Tulip/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Tulip/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tulip/obj/Debug/TempPE/Model1.cs.dll
/Tulip/obj/Debug/TempPE/TulipModel.Designer.cs.dll
/Tulip/obj/Debug/TempPE/TulipModelGen.cs.dll
/Tulip/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tulip/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tulip/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tulip/obj/Debug/Tulip.Main.resources
/Tulip/obj/Debug/Tulip.Properties.Resources.resources
/Tulip/obj/Debug/Tulip.csproj.FileListAbsolute.txt
/Tulip/obj/Debug/Tulip.csproj.GenerateResource.Cache
/Tulip/obj/Debug/Tulip.csprojResolveAssemblyReference.cache
/Tulip/obj/Debug/Tulip.exe
/Tulip/obj/Debug/Tulip.frmChannelSummary.resources
/Tulip/obj/Debug/Tulip.frmLog.resources
/Tulip/obj/Debug/Tulip.frmOutstationSummary.resources
/Tulip/obj/Debug/Tulip.frmPointConfiguration.resources
/Tulip/obj/Debug/Tulip.frmPointSummary.resources
/Tulip/obj/Debug/Tulip.frmWriteControl.resources
/Tulip/obj/Debug/Tulip.pdb
/Tulip/obj/Debug/edmxResourcesToEmbed/TulipModel.csdl
/Tulip/obj/Debug/edmxResourcesToEmbed/TulipModel.msl
/Tulip/obj/Debug/edmxResourcesToEmbed/TulipModel.ssdl
/TulipLib/bin/Debug/ClassLibrary1.dll
/TulipLib/bin/Debug/ClassLibrary1.pdb
/TulipLib/bin/Debug/DNP3CLRAdapter.dll
/TulipLib/bin/Debug/DNP3CLRAdapter.pdb
/TulipLib/bin/Debug/DNP3CLRInterface.dll
/TulipLib/bin/Debug/DNP3CLRInterface.pdb
/TulipLib/bin/Debug/DNP3CLRInterface.xml
/TulipLib/bin/Debug/TulipLib.dll
/TulipLib/bin/Debug/TulipLib.pdb
/TulipLib/obj/Debug/ClassLibrary1.dll
/TulipLib/obj/Debug/ClassLibrary1.pdb
/TulipLib/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/TulipLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TulipLib/obj/Debug/TempPE/TulipModel.Designer.cs.dll
/TulipLib/obj/Debug/TempPE/TulipModelGen.cs.dll
/TulipLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TulipLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TulipLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TulipLib/obj/Debug/TulipLib.csproj.FileListAbsolute.txt
/TulipLib/obj/Debug/TulipLib.csprojResolveAssemblyReference.cache
/TulipLib/obj/Debug/TulipLib.dll
/TulipLib/obj/Debug/TulipLib.pdb
/packages/EntityFramework.6.0.2/EntityFramework.6.0.2.nupkg
/packages/EntityFramework.6.0.2/EntityFramework.6.0.2.nuspec
/packages/EntityFramework.6.0.2/content/App.config.transform
/packages/EntityFramework.6.0.2/content/Web.config.transform
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.dll
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.dll
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.0.2/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.6.0.2/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.6.0.2/tools/EntityFramework.psd1
/packages/EntityFramework.6.0.2/tools/EntityFramework.psm1
/packages/EntityFramework.6.0.2/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.0.2/tools/init.ps1
/packages/EntityFramework.6.0.2/tools/install.ps1
/packages/EntityFramework.6.0.2/tools/migrate.exe
/packages/EntityFramework.Extended.6.0.0.86/EntityFramework.Extended.6.0.0.86.nupkg
/packages/EntityFramework.Extended.6.0.0.86/EntityFramework.Extended.6.0.0.86.nuspec
/packages/EntityFramework.Extended.6.0.0.86/lib/net40/EntityFramework.Extended.dll
/packages/EntityFramework.Extended.6.0.0.86/lib/net40/EntityFramework.Extended.xml
/packages/EntityFramework.Extended.6.0.0.86/lib/net45/EntityFramework.Extended.dll
/packages/EntityFramework.Extended.6.0.0.86/lib/net45/EntityFramework.Extended.xml
/packages/EntityFramework.SqlServerCompact.6.0.2/EntityFramework.SqlServerCompact.6.0.2.nupkg
/packages/EntityFramework.SqlServerCompact.6.0.2/EntityFramework.SqlServerCompact.6.0.2.nuspec
/packages/EntityFramework.SqlServerCompact.6.0.2/content/App.config.transform
/packages/EntityFramework.SqlServerCompact.6.0.2/content/Web.config.transform
/packages/EntityFramework.SqlServerCompact.6.0.2/lib/net40/EntityFramework.SqlServerCompact.dll
/packages/EntityFramework.SqlServerCompact.6.0.2/lib/net40/EntityFramework.SqlServerCompact.xml
/packages/EntityFramework.SqlServerCompact.6.0.2/lib/net45/EntityFramework.SqlServerCompact.dll
/packages/EntityFramework.SqlServerCompact.6.0.2/lib/net45/EntityFramework.SqlServerCompact.xml
/packages/EntityFramework.SqlServerCompact.6.0.2/tools/install.ps1
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/Content/web.config.transform
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/Microsoft.SqlServer.Compact.4.0.8876.1.nupkg
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/Microsoft.SqlServer.Compact.4.0.8876.1.nuspec
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/README_ENU.txt
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/Microsoft.VC90.CRT/msvcr90.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceca40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlcecompact40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceer40EN.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceme40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlceqp40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/amd64/sqlcese40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/README_ENU.txt
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/Microsoft.VC90.CRT/msvcr90.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceca40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlcecompact40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceer40EN.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceme40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlceqp40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/NativeBinaries/x86/sqlcese40.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/SQLCE_EULA_ENU.rtf
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/lib/net40/System.Data.SqlServerCe.dll
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/Install.ps1
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/Uninstall.ps1
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/VS.psd1
/packages/Microsoft.SqlServer.Compact.4.0.8876.1/tools/VS.psm1

/TestSlave/bin/Debug/DNP3CLRAdapter.dll
/TestSlave/bin/Debug/DNP3CLRAdapter.pdb
/TestSlave/bin/Debug/DNP3CLRInterface.dll
/TestSlave/bin/Debug/DNP3CLRInterface.pdb
/TestSlave/bin/Debug/DNP3CLRInterface.xml
/TestSlave/bin/Debug/TestSlave.exe
/TestSlave/bin/Debug/TestSlave.exe.config
/TestSlave/bin/Debug/TestSlave.pdb
/TestSlave/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestSlave/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestSlave/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestSlave/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestSlave/obj/Debug/TestSlave.csproj.FileListAbsolute.txt
/TestSlave/obj/Debug/TestSlave.csprojResolveAssemblyReference.cache
/TestSlave/obj/Debug/TestSlave.exe
/TestSlave/obj/Debug/TestSlave.pdb
